$gray: #616163;
$green: #44FFD2;
$peach: #FFBFA0;
$cyan: #DAF5FF;

#t-1 {
	background-color: $gray;
	opacity: 0.7;
	color: white;
}
.pirmas {
	padding: 70px 0px;
}
#t-2 {
	background-color: $cyan;
	opacity: 0.7;
}
#t-3 {
	background-color: $green;
	opacity: 0.7;
}
#t-4 {
	background-color: $peach;
	opacity: 0.7;
}
#t-1:hover {
	opacity: 1;
}
#t-2:hover {
	opacity: 1;
}
#t-3:hover {
	opacity: 1;
}
#t-4:hover {
	opacity: 1;
}
.antras {
	padding:  90px 0px;
}
.trecias {
	padding: 70px 0px;
}
.ketvirtas {
	padding: 20px 00px;
}
@for $i from 1 through 9 {
  .f-#{$i} {
	background-color: mix( $green, $gray, 10% * $i);
	text-align: center;
	color: darken(white, 10% * $i);
	padding: 20px 00px;
  }
	
}
.footer {
	background-color: $gray;
	padding: 20px;
}
.tas {
}
.lang-1, .lang-2, .lang-3, .lang-4 {
	padding:  15px 0px;
}
.blog {
	font-size: 30px;
	font-weight: bold;
}
.contact {
	font-size: 30px;
	font-weight: bold;
}
.penktas {
	padding-left: 80px;
	padding-right: 80px;
}
.sestas {
	background-image: url("../images/e.jpg");
	opacity: 0.7;
	&:hover {
		opacity: 1;
	}
}